<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ModelClass List</h1>
<a href="/add">Add a ModelClass</a><br />
<table>
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
    </tr>
    <tr th:each="todo : ${modelclass}">
        <td th:text="${modelclass.title}"></td>
        <td th:text="${modelclass.year}"></td>
        <td th:text="${modelclass.make}"></td>
        <td th:text="${modelclass.model}"></td>
        <td>

            <a th:href="@{/update/{id}(id=${modelclass.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${modelclass.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${modelclass.id})}">Delete</a> -
        </td></tr>
</table>
</body>
</html>